#check-ins.tab-pane.user-main.p-3(role='tabpanel')
    h6.h-line
        i.fa.fa-bullseye.fa-lg.mr-1(aria-hidden='true')
        | My Professional Development Goal is:
    .card.mb-3.mt-3.bg-transparent 
        .card-body
            if goal.length > 0
                .h5.font-weight-bold #{goal[0].goal}
    h6.h-line
        i.fa.fa-dot-circle-o.fa-lg.mr-1(aria-hidden='true')
        | My Actions are
    small.d-block.mb-2
        em If you need to change or add action, please do so in the 
            u.font-weight-bold Goal Setting page
    #accordion-checkins.accordion(role='tablist', aria-multiselectable='true')
        each val, index in action
            - var i = index + 1
            if (i === 1)
                - var show = 'show'
                - var collapsed = ''
            else if (i > 1)
                - var show = ''
                - var collapsed = 'collapsed'
            .card.mb-1.bg-transparent(id='checkin-action-div-' + action[index].a_id)
                a(data-toggle='collapse', data-parent='#accordion-checkins', href='#collapse-checkin-action-' + i, aria-expanded='true', aria-controls='collapse-checkin-action-' + i, class=collapsed)
                    .card-header.bg-white(role='tab', id='checkin-action-' + i)
                        h6.d-inline-block.mb-0.font-weight-bold
                            i.fa.fa-dot-circle-o.fa-lg.mr-1(aria-hidden='true')
                            span #{action[index].action}
                .collapse.bg-transparent(role='tabpanel', aria-labelledby='checkin-action-' + i, id='collapse-checkin-action-' + i, class=show)
                    .card-body
                        if checkin.length > 0
                            each val, idx in checkin
                                if action[index].a_id === checkin[idx].c_a_id && checkin[idx].manager_checkin_comment
                                    .card.bg-transparent.mb-3
                                        .card-body
                                            h5.text-dark-blue
                                                i.fa.fa-user.fa-lg.mr-1(aria-hidden='true')
                                                span Manager's Check-in
                                            .alert.alert-info
                                                div
                                                    i.fa.fa-commenting.fa-lg.mr-1(aria-hidden='true')
                                                    span.font-weight-bold Manager Comment: 
                                                    span #{checkin[idx].manager_checkin_comment}
                                                div
                                                    i.fa.fa-calendar-check-o.fa-lg.mr-1(aria-hidden='true')
                                                    span.font-weight-bold Date Submitted: 
                                                    span #{formatDate(checkin[idx].m_check_in_date)}
                                    - break
                        - var ck_submitted = false
                        if !ck_submitted
                            each v, idx in checkin
                                if action[index].a_id === checkin[idx].c_a_id && checkin[idx].employee_checkin_comment
                                    .card.bg-transparent
                                        .card-body
                                            h5.text-dark-blue
                                                i.fa.fa-user-o.fa-lg.mr-1(aria-hidden='true')
                                                span Employee's Check-in
                                            .alert.alert-success
                                                div
                                                    i.fa.fa-commenting-o.fa-lg.mr-1(aria-hidden='true')
                                                    span.font-weight-bold Employee Comment: 
                                                    span #{checkin[idx].employee_checkin_comment}
                                                div
                                                    i.fa.fa-calendar-check-o.fa-lg.mr-1(aria-hidden='true')
                                                    span.font-weight-bold Date Submitted: 
                                                    span #{formatDate(checkin[idx].checkin_date)}
                                                div
                                                    i.fa.fa-line-chart.fa-lg.mr-1(aria-hidden='true')
                                                    span.font-weight-bold Progress: 
                                                    span #{checkin[idx].progress}
                                                    
                                            - ck_submitted = true
                        if !ck_submitted
                            //-- this is complete
                            .employee-ck-comments
                            form.employee-checkin(method='POST', action='/submit-checkin/employee')
                                .card.mt-2.bg-transparent
                                    .card-body.d-flex.justify-content-between.align-items-end
                                        .w-49
                                            label.d-block.font-weight-bold.text-dark-blue 
                                                i.fa.fa-comment-o.fa-lg.mr-1(aria-hidden='true')
                                                span Employee Comment
                                            input(type='hidden', name='a_id', value=action[index].a_id)
                                            input.form-control(type='text', placeholder="How are you doing with this action?", name='comment')
                                        .w-34
                                            label.d-block.font-weight-bold.text-dark-blue
                                                i.fa.fa-line-chart.fa-lg.mr-1(aria-hidden='true')
                                                span Progress
                                            select.form-control(name='progress')
                                                option
                                                option(value='Cancelled') Cancelled
                                                option(value='Completed') Completed
                                                option(value='No Update') No Update
                                                option(value='Not Started') Not Started
                                                option(value='Started') Started
                                        .w-15
                                            button.btn.btn-primary(type='submit')
                                                i.fa.fa-level-down.fa-rotate-90.fa-lg.mr-1(aria-hidden='true') 
                                                span Submit