#goal-review.tab-pane.user-main.p-3(role='tabpanel')
    h6.h-line
        i.fa.fa-bullseye.fa-lg.mr-1(aria-hidden='true')
        | My Professional Development Goal is:
    .card.mb-3.mt-3.bg-transparent
        #overview-goal-wrapper.card-body
            if goal.length > 0
                .h5.font-weight-bold #{goal[0].goal}
    h6.h-line
        i.fa.fa-dot-circle-o.fa-lg.mr-1(aria-hidden='true')
        | My Actions are
    small.d-block.mb-2
        em If you need to change or add action, please do so in the 
            u.font-weight-bold Goal Setting page
    #accordion-goal-review.accordion(role='tablist', aria-multiselectable='true')
        each val, index in action
            - var i = index + 1
            if (i === 1)
                - var show = 'show'
                - var collapsed = ''
            else if (i > 1)
                - var show = ''
                - var collapsed = 'collapsed'
            .card.mb-1.bg-transparent(id='goal-review-action-div-' + action[index].a_id)
                a(data-toggle='collapse', data-parent='#accordion-goal-review', href='#collapse-goal-review-' + i, aria-expanded='true', aria-controls='collapse-goal-review-' + i, class=collapsed)
                    .card-header.bg-white(role='tab', id='goal-review-' + i)
                        h6.d-inline-block.mb-0.font-weight-bold
                            i.fa.fa-dot-circle-o.fa-lg.mr-1(aria-hidden='true')
                            span #{action[index].action}
                .collapse.bg-transparent(role='tabpanel', aria-labelledby='goal-review-' + i, id='collapse-goal-review-' + i, class=show)
                    .card-body
                        if goal_review.length > 0
                            each val, idx in goal_review
                                if action[index].a_id === goal_review[idx].gr_a_id && goal_review[idx].manager_gr_comment
                                    .card.bg-transparent.mb-3
                                        .card-body
                                            h5.text-dark-blue
                                                i.fa.fa-user.fa-lg.mr-1(aria-hidden='true')
                                                span Manager's Goal Review
                                            .alert.alert-info
                                                div
                                                    i.fa.fa-commenting.fa-lg.mr-1(aria-hidden='true')
                                                    span.font-weight-bold Manager Comment: 
                                                    span #{goal_review[idx].manager_gr_comment}
                                                div
                                                    i.fa.fa-calendar-check-o.fa-lg.mr-1(aria-hidden='true')
                                                    span.font-weight-bold Date Submitted: 
                                                    span #{formatDate(goal_review[idx].reviewed_on)}
                                                div
                                                    i.fa.fa-line-chart.fa-lg.mr-1(aria-hidden='true')
                                                    span.font-weight-bold Observed Progress: 
                                                    span #{goal_review[idx].progress}%
                                                div
                                                    i.fa.fa-area-chart.fa-lg.mr-1(aria-hidden='true')
                                                    span.font-weight-bold Effectiveness: 
                                                    span #{goal_review[idx].effectiveness}
                                    - break
                        - var gr_submitted = false
                        if !gr_submitted
                            each v, idx in goal_review
                                if action[index].a_id === goal_review[idx].gr_a_id
                                    - gr_submitted = true
                                    .card.bg-transparent
                                        .card-body
                                            h5.text-dark-blue
                                                i.fa.fa-user-o.fa-lg.mr-1(aria-hidden='true')
                                                span Employee's Goal Review
                                            .alert.alert-success
                                                div
                                                    i.fa.fa-commenting-o.fa-lg.mr-1(aria-hidden='true')
                                                    span.font-weight-bold Employee Comment: 
                                                    span #{goal_review[idx].employee_gr_comment}
                                                div
                                                    i.fa.fa-calendar-check-o.fa-lg.mr-1(aria-hidden='true')
                                                    span.font-weight-bold Date Submitted: 
                                                    span #{formatDate(goal_review[idx].submitted_on)}
                                                div
                                                    i.fa.fa-line-chart.fa-lg.mr-1(aria-hidden='true')
                                                    span.font-weight-bold Final Status: 
                                                    span #{action[index].action_review_status}
                        if !gr_submitted
                            #employee-gr-comments
                            //-- complete
                            form.employee-goal-review(method='POST', action='/submit-goal-review/employee')
                                .card.mt-2.bg-transparent
                                    .card-body.d-flex.justify-content-between.align-items-end
                                        .w-49
                                            label.d-block.font-weight-bold.text-dark-blue 
                                                i.fa.fa-comment-o.fa-lg.mr-1(aria-hidden='true')
                                                span Employee Comment
                                            input(type='hidden', name='a_id', value=action[index].a_id)
                                            input.form-control(type='text', placeholder="How effective was this action? Did you learn what you expected to?", name='comment', required)
                                        .w-34
                                            label.d-block.font-weight-bold.text-dark-blue
                                                i.fa.fa-line-chart.fa-lg.mr-1(aria-hidden='true')
                                                span Final Status
                                            select.form-control(name='progress', required)
                                                option
                                                option(value='Cancelled') Cancelled
                                                option(value='Completed') Completed
                                                option(value='No Update') No Update
                                                option(value='Not Started') Not Started
                                                option(value='In Progress') In Progress
                                        .w-15
                                            button.btn.btn-primary(type='submit')
                                                i.fa.fa-level-down.fa-rotate-90.fa-lg.mr-1(aria-hidden='true')
                                                | Submit