#goal-setting.tab-pane.user-main.p-3(role='tabpanel')
    .text-right.mb-3
        button#start-new-goal-button.btn.btn-success(type='button')
            i.fa.fa-file-o.fa-lg.mr-1(aria-hidden='true')
            span Start New Goal
    //- set goal and actions
    if goal.length === 0 && goal_prep.length > 0
        small
            em Remember that when setting your goal you should be thinking about a 1 - 2 year timeline. It may be a goal to become qualified for a different role, learn a new technology or skill, get better at the job you do now, or something complete different. Be careful to not mistake an action item for a goal. It is best to start with a big goal and then narrow it down than to start with an action item and make it into a goal. To set yourself up for success, make sure your goal is SMART.
        .d-flex.justify-content-between.smart-cards.mb-3.h-line.pb-2
            .smart.w-18.card.bg-success
                .card-body.text-center
                    h3 S
                    h6.font-weight-bold Specific
                    small Exactly what is it you want to achieve
            .smart.w-18.card.bg-info
                .card-body.text-center
                    h3 M
                    h6.font-weight-bold Measurable
                    small Goals that consist of smaller goals
            .smart.w-18.card.bg-danger
                .card-body.text-center
                    h3 A
                    h6.font-weight-bold Attainable
                    small Set stretch goals that are realistic and achievable
            .smart.w-18.card.bg-warning
                .card-body.text-center
                    h3 R
                    h6.font-weight-bold Relevant
                    small Goals that only you can accomplish
            .smart.w-18.card.card-primary
                .card-body.text-center
                    h3 T
                    h6.font-weight-bold Time-Bound
                    small All goals must have a deadline
        //--.alert.alert-info.alert-dimissable.fade.show.d-flex.justify-content-between(role='alert')
            h5.text-dark-blue.mb-0
                i.fa.fa-info-circle.fa-lg.mr-1(aria-hidden='true')
                span Setting Goal and Actions for 
                u #{formatDate(new Date(current_period.start_date))} - #{formatDate(new Date(current_period.end_date))}
            button.close(data-dismiss='alert', aria-label='Close')
                i.fa.fa-times(aria-hidden='true')
        .card.bg-transparent.mb-3
            .card-body
                form#add-action(method='POST', action='/save-goal-changes')
                    input(type='hidden', name='g_gp_id', value=goal_prep[0].gp_id)
                    input(type='hidden', name='current_period', value=current_period)
                    .form-group
                        label.d-block.font-weight-bold.text-dark-blue
                            h6.font-weight-bold.text-dark-blue.mb-0
                                i.fa.fa-bullseye.fa-lg.mr-1(aria-hidden='true')
                                | My Professional Development Goal is:
                        input(type='hidden', name='gp_id', value=goal_prep[0].gp_id)
                        input#set-goal.form-control(type='text', name='goal', placeholder='Enter your goal here', required)
                    #action-wrapper
                        h6.p-2.text-dark-blue.mb-3.h-line.font-weight-bold
                            i.fa.fa-plus.fa-lg.mr-1(aria-hidden='true')
                            | Add Actions
                        button#add-action-button.position-sticky.btn.btn-success.mb-3(type='button')
                            i.fa.fa-plus.fa-lg.mr-1(aria-hidden='true')
                            | Add Action
                    .form-group.text-right
                        button.btn.btn-primary(type='submit') 
                            i.fa.fa-level-down.fa-rotate-90.fa-lg.mr-1(aria-hidden='true')
                            | Submit
    //-- edit goal and action view
    else if goal.length > 0 && goal_prep.length > 0
        .card.bg-transparent.mb-3
            .card-header.bg-white.d-flex.justify-content-between.align-items-center
                h6.font-weight-bold.text-dark-blue.mb-0
                    i.fa.fa-bullseye.fa-lg.mr-1(aria-hidden='true')
                    span Goal
            .card-body
                //-- complete
                form#gs-edit-goal(method='POST', action='/edit-goal')
                    input(type='hidden', value=goal[0].g_id, name='g_id')
                    textarea#gs-input-goal.form-control.mb-2(row='4', readonly, name='gs_goal') #{goal[0].goal}
                    .text-right
                        button#gs-edit-goal-button.btn.btn-info.mr-1(type='button', data-edit='false')
                            i.fa.fa-edit.fa-lg.mr-1(aria-hidden='true')
                            span Edit
                        button#gs-delete-goal-button.btn.btn-danger(type='button')
                            i.fa.fa-trash.fa-lg.mr-1(aria-hidden='true')
                            span Delete
        h6.p-2.text-dark-blue.mb-3.h-line.font-weight-bold
            i.fa.fa-dot-circle-o.fa-lg.mr-1(aria-hidden='true')
            span Actions
        .card.bg-transparent.mb-3
            #actions-wrapper.card-body.relative
                if action.length > 0
                    each val, index in action
                        .card.bg-transparent.mb-3(id='action-div-' + action[index].a_id)
                            .card-header.d-flex.justify-content-between.align-items-center.bg-white
                                h6.font-weight-bold.text-dark-blue.mb-0 
                                    i.fa.fa-dot-circle-o.fa-lg.mr-1(aria-hidden='true')
                                    span.edit-action-header Action #{index + 1}
                            .card-body
                                //-- needs to be coded
                                form.edit-action(method='POST', action='/edit-action', id='edit-action-' + (index + 1))
                                    input(type='hidden', name='a_id' value=action[index].a_id)
                                    input.d-inline-block.form-control.mb-3(type='text', name='action', readonly, value=action[index].action)
                                    .d-flex.justify-content-between.mb-3
                                        .input-date.w-24.input-group.d-flex.flex-row(data-toggle='tooltip', title='Due Date - Should not go beyond PDP period.', data-placement='right')
                                            span.input-group-addon
                                                i.fa.fa-calendar-times-o.fa-lg(aria-hidden='true')
                                            input.d-flex.flex-row.form-control.date-select(type='text', name='due_date', required, readonly, value=formatDateCode(action[index].due_date))
                                        .w-24
                                            .input-group(data-toggle='tooltip', title='Budgeted Hours - Include cost of tuition and books or supplies.')
                                                span.input-group-addon
                                                    i.fa.fa-clock-o.fa-lg(aria-hidden='true')
                                                input.form-control(type='number', value=action[index].hourly_cost, name='hourly_cost', readonly)
                                        .w-24                                
                                            .input-group(data-toggle='tooltip', title='Training Cost - Include cost of tuition and books or supplies.')
                                                span.input-group-addon
                                                    i.fa.fa-dollar.fa-lg(aria-hidden='true')
                                                input.form-control(type='number', value=action[index].training_cost, name='training_cost', readonly)
                                        .w-24
                                            .input-group(data-toggle='tooltip', title='Expenses - Input any additional costs, such as travel.')
                                                span.input-group-addon
                                                    i.fa.fa-money.fa-lg(aria-hidden='true')
                                                input.form-control(type='number', value=action[index].expenses, name='expenses', readonly)
                                    .input-group.mb-3(data-toggle='tooltip', title='Notes')
                                        span.input-group-addon
                                            i.fa.fa-sticky-note-o.fa-lg
                                        input.form-control(type='text', name='cost_notes', placeholder='Explain briefly what the indicated costs are for. (eg. "hourly", "per class", "transporation", etc.)', value=action[index].cost_notes, readonly)
                                    .edit-action-controls.form-group.text-right
                                        button.edit-action-button.btn.btn-info.mr-1(type='button', data-edit='false')
                                            i.fa.fa-edit.fa-lg.mr-1(aria-hidden='true')
                                            span Edit
                                        button.delete-action-button.btn.btn-danger(type='button') 
                                            i.fa.fa-trash-o.mr-1(aria-hidden='true')
                                            span Delete
                                        button.submit-edit-action-button.btn.btn-primary.mr-1(type='submit', style='display: none;')
                                            i.fa.fa-level-down.fa-rotate-90.fa-lg.mr-1(aria-hidden='true')
                                            span Submit
                                        button.cancel-edit-action.btn.btn-secondary(type='button', style='display: none;')
                                            i.fa.fa-times.fa-lg.mr-1(aria-hidden='true')
                                            span Cancel
        //-- needs to be coded (I recommend looking at /save-goal-changes on how to bulk insert)
        if action.length === 4
            -var hide = 'd-none'
        #edit-add-new-action-div(class=hide)
            h6.p-2.text-dark-blue.mb-3.h-line.font-weight-bold
                i.fa.fa-plus.fa-lg.mr-1(aria-hidden='true')
                | Add a New Action
            .card.bg-transparent
                .card-body
                    form#gs-add-action(method='POST', action='/edit-add-action')
                        input(type='hidden', name='g_id', value=goal[0].g_id)
                        .form-group.mb-3
                            label.font-weight-bold.text-dark-blue
                                i.fa.fa-dot-circle-o.fa-lg.mr-1(aria-hidden='true')
                                | Action
                            input.form-control(type='text', name='action', required)
                        .form-inline.mb-3
                            label.font-weight-bold.text-dark-blue.mr-2
                                i.fa.fa-calendar-times-o.fa-lg.mr-1(aria-hidden='true')
                                | Due Date:
                            input.d-flex.flex-row.form-control.date-select(type='text', name='due_date', required, data-toggle='tooltip', title='Due Date - Should not go beyond PDP period.', data-placement='right')
                        .card-deck.mb-3
                            .card.bg-transparent
                                .card-body.text-center
                                    label.d-block.font-weight-bold.text-dark-blue
                                        i.fa.fa-clock-o.fa-lg.mr-1(aria-hidden='true')
                                        | Budgeted Hours
                                    .input-group
                                        span.input-group-addon $
                                        input.form-control(type='number', name='hourly_cost', data-toggle='tooltip', title='Budgeted Hours - Include cost of tuition and books or supplies.')
                            .card.bg-transparent
                                .card-body.text-center
                                    label.d-block.font-weight-bold.text-dark-blue
                                        i.fa.fa-dollar.fa-lg.mr-1(aria-hidden='true')
                                        | Training Cost
                                    .input-group
                                        span.input-group-addon $
                                        input.form-control(type='number', name='training_cost', data-toggle='tooltip', title='Training Cost - Include cost of tuition and books or supplies.')
                            .card.bg-transparent
                                .card-body.text-center
                                    label.d-block.font-weight-bold.text-dark-blue
                                        i.fa.fa-money.fa-lg.mr-1(aria-hidden='true')
                                        | Expenses
                                    .input-group
                                        span.input-group-addon $
                                        input.form-control(type='number', name='expenses', data-toggle='tooltip', title='Expenses - Input any additional costs, such as travel.')
                        .d-flex.justify-content-between.align-items-center.mb-3
                            .w-10
                                label.font-weight-bold.text-dark-blue.mb-0
                                    i.fa.fa-sticky-note-o.fa-lg.mr-1(aria-hidden='true')
                                    span Notes
                            .w-90
                                input.form-control(type='text', name='cost_notes', placeholder='Explain briefly what the indicated costs are for. (eg. "hourly", "per class", "transporation", etc.)')
                        .text-right
                            button.btn.btn-primary.mr-1(type='submit')
                                i.fa.fa-level-down.fa-rotate-90.fa-lg.mr-1(aria-hidden='true')
                                | Submit